.elysio-blog-list {
  max-width: 800px;
  margin: auto;
  article {
    color: $site-secondary-color;
    border-bottom: 1px solid $line-color;
  }
  a {
    color: $site-secondary-color;
  }
  p {
    margin: 0;
  }

  .entry-thumb {
    border-radius: $small-image-border-radius;
    overflow: hidden;
    display: block;
    img {
      width: 100%;
      height: auto;
    }
  }

  .entry-title {
    a {
      color: $site-text-color;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .entry-content {
  }
  .loadmore {
    color: #fff;
  }


  @media (max-width: 767px){
    article {
      padding: 0 0 16px 0;
      margin: 0 auto 16px;
    }
    .entry-title {
      font-weight: 500;
      font-size: 16px;
      margin-bottom: 0 auto 8px;
    }
    .entry-meta {
      font-size: 14px;
    }
    .byline,
    .entry-content,
    .entry-footer
    {
      display: none;
    }
  }
  @media (min-width: 768px){
    article {
      padding: 0 0 32px 0;
      margin: 0 auto 32px;
    }
    .entry-title {
      font-size: 24px;
      font-weight: 500;
      margin: 0 auto 16px;
    }
    .entry-meta {
      font-size: 14px;
      margin-bottom: 8px;
    }
  }
}