


// Material form (for search and etc.) FROM architect
form.material-form {
  width: 100%;
  max-width: 320px;
  // margin: 2.75rem auto 1rem;
  @media (max-width: 567px){
    max-width: 100%;
  }
  h1 {
    text-align: center;
  }
  small {
    display: block;
    width: 100%;
    text-align: center;
    //color: $secondary;
    text-transform: uppercase;
  }
  hr.sep {
    //background: $color-primary;
    box-shadow: none;
    border: none;
    height: 2px;
    width: 25%;
    margin: 0px auto 45px auto;
  }
  .emoji {
    font-size: 1.2em;
  }


  .group {
    position: relative;
    margin: 2.75rem 0;
  }



  // INPUTS // ============================== //
  textarea {
    resize: none;
  }

  input,
  textarea {
    background: none;
    //color: $secondary;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid $secondary;
    &:focus {
      outline: none;
    }
    &:focus ~ label,
    &:valid ~ label {
      top: -14px;
      font-size: 12px;
      //color: $color-primary;
    }
    &:focus ~ .bar:before {
      width: 100%;
    }
  }


  input[type="password"] {
    letter-spacing: 0.3em;
  }

  label {
    //color: $secondary;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 300ms ease all;
  }

  .bar {
    position: relative;
    display: block;
    width: 100%;
    &:before {
      content: '';
      height: 2px;
      width: 0;
      bottom: 0px;
      position: absolute;
      //background: $color-primary;
      transition: 300ms ease all;
      left: 0%;
    }
  }
}




// Used for searchform
form.form-rounded {
  * {
    outline: none !important;
    box-shadow: none !important;
  }
  .input-group {
    border-radius: 28px;
    border: 1px solid $line-color;
    overflow: hidden;
    transition: border 400ms;
    &:focus-within {
      border-color: $site-text-color;
    }
    .btn.btn-primary {
      background: transparent !important;
      &:hover {
        svg path {
          fill: $site-primary-color !important;
        }
      }
    }
  }
  .form-control { // TODO: Fix to height 48px
    border: none;
    line-height: 56px;
    height: 56px;
    padding: 6px 0 6px 24px;
  }
  .btn.btn-primary {
    font-size: 0;
    background: transparent;
    border: none;
    background: #fff;
  }
}









/* Comment Form -------------------------------- */

form.comment-form {
  textarea {
    min-width: 100%;
    max-width: 100%;
    min-height: 48px;
    height: 96px;
    max-height: 600px;
  }
  .form-control {
    border-radius: 8px;
    font-size: 16px;
    padding: 16px 24px;
    border-color: $line-color;
    box-shadow: none !important;
    transition: border 400ms;
    &:focus {
      border-color: $site-text-color;
    }
  }
  input.form-control {
    line-height: 1;
    height: 48px;
  }
}

/* .elysio-comments-area-01 { // FROM architect (material v0)
  .form-control {
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #ccc;
    background: transparent;
    transition: border 600ms;
    &:active,
    &:focus
    {
      box-shadow: none;
      border-color: #bd8881;
    } 
  }
  // Responsive
  margin: 4rem auto 0;
  @media (min-width: 992px){
    margin: 6rem auto 0;
  }
} */

/* #END Comment Form */
