.bg-primary {
  background-color: $site-primary-color !important;
}


%wp-headline {
  word-wrap: break-word;
  color: $site-text-color;
  margin: 0 auto 2rem;
  @media (max-width: 767px){
    font-size: 1.5rem;
  }
  @media (min-width: 768px){
    font-size: 2rem;
  }
}

%wp-thumbnail {
  border-radius: $main-image-border-radius;
  overflow: hidden;
  margin: 32px auto;
  display: block;
  img {
    display: block;
    width: 100%;
    height: auto;
  }

  &:empty {
    display: none;
  }
}

%wp-links-list {
  padding: 0;
  list-style: none;
  margin: 0;
  ul.children,
  ul.sub-menu
  {
    margin: 24px 0 0 24px;
    ul.children ul.children,
    ul.sub-menu ul.sub-menu {
      margin: 24px 0 0 8px;
    }
  }
  li + li {
    margin-top: 24px;
  }
}

%select-rounded {
  font-size: 1rem;
  line-height: 1;
  padding: 1rem 1.5rem;
  height: auto;
  border-radius: 28px;
  appearance: none;
  outline: none !important;
  box-shadow: none !important;
  border-color: $line-color;
  &:hover, &:active {
    border-color: $site-text-color;
  }
}

%singlepost-pseudotitle {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 32px;
}