.elem-material-banner {
  margin-bottom: 30px;

  a {
    display: inline-block
  }

  img {
    width: 700px;
    height: auto;
    max-width: 100%;
    vertical-align: top;
  }
}

a.elem-material-donate {
  display: inline-block;
  margin-top: 30px;
  font-size: 14px;
  line-height: 1.2;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  box-sizing: border-box;

  background: #00684d;
  background: linear-gradient(to bottom, transparent 0%, rgba(0,0,0,0.4) 100%), linear-gradient(to right, lighten(#00684d, 15%) 0%, #00684d 50%, lighten(#00684d, 15%) 100%);
  background-position: 0 0;
  background-size: 200% 100%;
  border-radius: 4px;
  color: #fff;
  padding: 15px 20px;
  text-shadow: 1px 1px 5px #666;
  transition: all 800ms;

  &:hover {
    color: #fff;
    background-position: -100% 0;
  }
}