// Some basic padding for all wrappers
.wrapper {
  padding: $grid-gutter-width 0;
}

// Reset hero wrapper padding to 0
#wrapper-hero {
  padding: 0px !important;
}

// Adding basic WordPress classes to pass the WordPress.org tests
.sticky,
.gallery-caption,
.bypostauthor {
  font-size: inherit;
}

// Separate sticky wrapper from main content
.wrapper#wrapper-sticky {
  border-bottom: 1px solid $gray-300;
}

// Adding some contrast background color to footer full widget
#wrapper-footer-full,
#wrapper-static-hero {
  background-color: $gray-200;
}

// Necessary WP classes
.wp-caption {
  font-size: inherit;
}

.wp-caption-text {
  font-size: inherit;
}

.screen-reader-text {
  @extend .sr-only;
}

.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}

.aligncenter {
  @extend .mx-auto,
  .d-block;
}

.widget_categories,
.widget_archive {
  select {
    @extend .form-control;
  }
}

// Post design
.entry-footer span {
  padding-right: 10px;
}

img.wp-post-image,
article img,
figure,
img,
#secondary img {
  max-width: 100%;
  height: auto;
}

// Skip to content link
a.skip-link {
  position: fixed;
  z-index: 1000;
  top: 0px;
  right: 0px;
}

// Reset Jumbotron default margin
.jumbotron {
  margin-bottom: 0px;
}

// Dropdown translation
.navbar-dark .navbar-nav .dropdown-menu .nav-link {
  display: block;
  width: 100%; // For `<button>`s
  padding: $dropdown-item-padding-y $dropdown-item-padding-x;
  clear: both;
  font-weight: $font-weight-normal;
  color: $dropdown-link-color !important;
  text-align: inherit; // For `<button>`s
  white-space: nowrap; // prevent links from randomly breaking onto new lines
  background: none; // For `<button>`s
  border: 0; // For `<button>`s

  @include hover-focus {
    color: $dropdown-link-hover-color !important;
    text-decoration: none;
    background-color: $dropdown-link-hover-bg;
  }

  &.active,
  &:active {
    color: $dropdown-link-active-color !important;
    text-decoration: none;
    background-color: $dropdown-link-active-bg;
  }

  &.disabled,
  &:disabled {
    color: $dropdown-link-disabled-color !important;
    background-color: transparent;

    // Remove CSS gradients if they're enabled
    @if $enable-gradients {
      background-image: none;
    }
  }
}

.navbar-light .navbar-brand a {
  color: $navbar-light-active-color;

  @include hover-focus {
    color: $navbar-light-active-color;
  }
}

.navbar-dark .navbar-brand a {
  color: $navbar-dark-active-color;

  @include hover-focus {
    color: $navbar-dark-active-color;
  }
}

.navbar h1 {
  font-weight: $font-weight-normal;
}

// Galleries
.gallery {
  margin-bottom: 1.5em;
}
.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%;

  @for $i from 2 through 9 {
    .gallery-columns-#{$i} & {
      max-width: floor( percentage( 1 / $i ) * 100 ) / 100;
    }
  }
}
.gallery-caption {
  display: block;
}






html, body {
  max-width: 100vw;
  overflow-x: hidden;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
}
body {
  //height: 100%;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  //font-family: 'Poppins';
}



//.wrapper {
  a {
    color: $site-primary-color;
    transition: color 500ms;
    &:hover {
      //color: red;
      //filter: brightness(0.5);
    }
  }
//}


*:focus, *:active {
  outline: none !important;
  box-shadow: none !important;
}


/* Bootstrap changes */

@media (min-width: 576px){
  .container, .container-sm {
    // max-width: 540px;
    max-width: 100%;
  }
}
@media (min-width: 768px){
  .container, .container-md, .container-sm {
    //max-width: 720px;
    max-width: 100%;
  }
}
@media (min-width: 992px){
  .container, .container-lg, .container-md, .container-sm {
    //max-width: 960px;
    max-width: 100%;
  }
}
@media (min-width: 1140px){
  .container, .container-lg, .container-md, .container-sm {
    max-width: 1140px;
  }
}



.btn {
  padding: 16px 32px;
  font-size: 1rem;
  line-height: 1;
  border-radius: 28px;
}

.input-group>.input-group-append>.btn {
  padding: 16px;
}

.btn-primary {
  background: $site-primary-color;
  border-color: $site-primary-color;
  //transition: opacity 600ms;
  transition: filter 600ms, background 600ms, border 600ms, color 600ms;
  &:hover, &:active {
    //opacity: 0.6;
    filter: brightness(0.8);
    background: $site-primary-color;
    border-color: $site-primary-color;
  }
}


/* Fix for mobile menu oppened */
.modal-open {
  overflow: hidden;
  //height: 100vh;
  //max-height: 100vh;

  /* #wpadminbar {
    display: none;
  } */
}


/* Not Elementor */

body:not(.elementor-page) {

}


/* Elementor */

.elementor-widget-container {
	p {
		margin: 0;
	}
}
.elysio-button {
  @extend .btn;
  @extend .btn-primary;
	display: inline-block;
	//width: auto; TODO
  border: none;

  .button-icon:empty {
    display: none;
  }

  &.button-color-scheme-primary {
    background: #2979ff;
    color: #fff !important;

    transition: filter 600ms;
    &:hover {
      filter: brightness(0.8);
    }
  }
  &.button-color-scheme-secondary {
    background: #E5EFFF;
    
    color: #2979FF !important;

    transition: filter 600ms;
    &:hover {
      filter: brightness(0.8);
    }
  }
  &.button-color-scheme-white {
    background: #fff;
    color: #2979FF !important;

    transition: filter 600ms;
    &:hover {
      filter: brightness(0.8);
    }
  }
  &.button-color-scheme-blue {
    background-image: linear-gradient(180deg, #64B5F6 0%, #2979FF 100%);
    color: #fff !important;

    transition: filter 600ms;
    &:hover {
      filter: brightness(0.8);
    }
  }
  &.button-color-scheme-purple {
    background-image: linear-gradient(180deg, #D1C4E9 0%, #7E57C2 100%);
    color: #fff !important;

    transition: filter 600ms;
    &:hover {
      filter: brightness(0.8);
    }
  }
  &.button-color-scheme-green {
    background-image: linear-gradient(180deg, #A5D6A7 0%, #4CAF50 100%);
    color: #fff !important;

    transition: filter 600ms;
    &:hover {
      filter: brightness(0.8);
    }
  }
}
.elementor-button-link i {
  font-weight: normal !important;
}

.elementor-widget-elysio-button-two {
  //animation: none !important;
}
.elysio-button-first {
  animation-delay: 1s;
}


/* For FAQ with default elementor toggle widget */
.remove-last-line .elementor-toggle .elementor-toggle-item:last-child .elementor-tab-title,
.remove-last-line .elementor-toggle .elementor-toggle-item:last-child  .elementor-tab-content
{
  border: none;
}






