// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.


/* COLORS */

$primary: #5533ff; // Thats a sample how you could change a BootStrap variable.

// Main site colors
$site-background-color: #fff;
$site-text-color: #333;
$site-primary-color: #2979FF;
$site-secondary-color: #888;
$site-accent-color: #E5EFFF;


$main-image-border-radius: 16px;
$small-image-border-radius: 8px;

$line-color: #D6D6D6;


/* Color Scheme: Dark */
$site-background-color--dark: #000;
$site-text-color--dark: #fff;
$site-primary-color--dark: #2979FF;
$site-secondary-color--dark: #CCCCCC;
$site-accent-color--dark: #E5EFFF;

$line-color--dark: #292929;
/* #END Color Scheme: Dark */



// TODO: Forms
// $textfield-background-color: #fff;
// $textfield-border-color: #888;
// $textfield-text-color: #333;
// $textfield-active-color: #333;

// $button-background-color: #888;
// $button-border-color: #888;
// $button-text-color: #333;
// $button-hover-color: #2979FF;
// $button-active-color: #2979FF;


// Site Header
// $header-bg_color: #fff;
// $header-text_color: #888;
// $header-link_color: #888;
// $header-link_hover_color: #000;

// - Search popup ?



/* FONTS */


/* Site Header toggle menu breakpoint */
$header_breakpoint: 767px;
