/*
* Use existing Bootstrap 4 classes and
* variables to extend - override CF7 style
*
* Useful CF7 classes:
* .wpcf7 the wrapper element
* .wpcf7-form
* .wpcf7-form-control
* .wpcf7-text
* .wpcf7-email
* .wpcf7-textarea
* .wpcf7-submit
*/

// keep a max width in case it is just the form and nothing else
// we do not want a form spanning whole page
.wpcf7 {
  //max-width: 600px;
  margin: 0 auto !important;

  // all inputs except radios and checkboxes inherit from form-control
  input[type=text],
  input[type=search],
  input[type=url],
  input[type=tel],
  input[type=number],
  input[type=range],
  input[type=date],
  input[type=month],
  input[type=week],
  input[type=time],
  input[type=datetime],
  input[type=datetime-local],
  input[type=color],
  input[type=email],
  input[type=file],
  input[type=submit],
  select,
  textarea {
    @extend .form-control;
    //line-height: 56px;
    min-height: 56px;
    height: auto;
    padding: 12px 24px !important;
    border-radius: 28px;
    border: 1px solid $line-color;
  }

  // submit button, inherit .btn and .btn-outline-primary classes.
  input[type=submit] {
    @extend .btn;
   // @extend .btn-outline-primary;
    height: auto;
    text-align: center !important;

    background: $site-primary-color;
    border: none;
    //transition: opacity 600ms;
    transition: filter 600ms, background 600ms, border 600ms, color 600ms;
    &:hover {
      //opacity: 0.6;
      filter: brightness(0.8);
      background: $site-primary-color;
      border-color: $site-primary-color;
    }
  }

  .wpcf7-form {

    // set paragraphs to behave like divs with class .form-group
    p {
      @extend .form-group;
    }

    // let labels be 100%
    label {
      width: 100%;
    }
  }

  // not valid tip for each control
  .wpcf7-not-valid-tip {
    color: theme-color("danger");
    padding-left: 24px;
  }

  // validation errors ourput bottom of form
  .wpcf7-validation-errors {
    @extend .form-control;
    color: theme-color("danger");
    border: 1px solid $gray-200;
  }


  &.button_width--auto {
    input[type=submit] {
      width: auto;
      padding-right: 48px !important;
      padding-left: 48px !important;
    }
  }
  &.button-color-scheme-primary {
    input[type="submit"] {
      background: #2979ff !important;
      color: #fff !important;
  
      transition: filter 600ms;}
    &:hover {
      input[type="submit"] {
        filter: brightness(0.8);
      }
    }
  }
  &.button-color-scheme-secondary {
    input[type="submit"] {
      background: #E5EFFF !important;
      color: #2979FF !important;
      transition: filter 600ms;
      &:hover {
        input[type="submit"] {
          filter: brightness(0.8);
        }
      }
    }
  }
  &.button-color-scheme-white {
    input[type="submit"] {
      background: #fff !important;
      color: #2979FF !important;
      transition: filter 600ms;
      &:hover {
        input[type="submit"] {
          filter: brightness(0.8);
        }
      }
    }
  }
  &.button-color-scheme-blue {
    input[type="submit"] {
      background-image: linear-gradient(180deg, #64B5F6 0%, #2979FF 100%) !important;
      color: #fff !important;
      transition: filter 600ms;
      &:hover {
        input[type="submit"] {
          filter: brightness(0.8);
        }
      }
    }
  }
  &.button-color-scheme-purple {
    input[type="submit"] {
      background-image: linear-gradient(180deg, #D1C4E9 0%, #7E57C2 100%);
      color: #fff !important;
      transition: filter 600ms;
      &:hover {
        input[type="submit"] {
          filter: brightness(0.8);
        }
      }
    }
  }
  &.button-color-scheme-green {
    input[type="submit"] {
      background-image: linear-gradient(180deg, #A5D6A7 0%, #4CAF50 100%);
      color: #fff !important;
      transition: filter 600ms;
      &:hover {
        input[type="submit"] {
          filter: brightness(0.8);
        }
      }
    }
  }
}



.animated-row {
  .floating-label {
    pointer-events: none;
    position: absolute;
    z-index: 11;
    transform: translateY(1.5rem);
    left: 24px;
    transition: transform .4s;
    transform-origin: top left;
    background: white;
  }
  &.is-filled {
    .floating-label {
      transform: translateY(0) scale(0.8);
    }
  }
}

/* Tried remove autofill background
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px black inset !important;
    color: white !important;
} */