
.elysio-recent-posts-widget {
  padding: 0;
  margin: 0;
  list-style: none;
  li {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    padding: 16px 0;
    border-bottom: 1px solid $line-color;
    .entry-content {
      width: 100%;
    }
    .elysio-recents-posts-widget__entry-title {
      font-weight: bold;
    }
    a {
      display: block;

    }
    time {
      display: block;
    }
    .entry-thumb {
      margin: 0 0 auto 24px;
      border-radius: 4px;
    }
    img {
      display: block;
      width: 64px;
      max-width: 64px;
      height: auto;
    }

    &:first-child {
      padding-top: 0;
    }
    &:last-child {
      border: none;
      padding-bottom: 0;
    }
  }
}