.socials-share-wrap {
  margin: 64px auto 32px;
  //border-top: 1px solid #D6D6D6;
  //padding-top: 32px;
  .socials-share-title {
    @extend %singlepost-pseudotitle;
  }
  .socials-share-list {
    display: flex;
    justify-content: scenter;
    align-items: center;
    .socials-share-link {
      width: 48px;
      max-width: 48px;
      height: 48px;
      max-height: 48px;
      border-radius: 100%;
      font-size: 0;
      background: transparent;
      border: 1px solid #D6D6D6;
      text-align: center;
      padding: 12px 0;
      transition: filter 400ms;
      &:hover {
        filter: brightness(0.8);
      }
      & + .socials-share-link {
        margin-left: 16px;
        @media (max-width: 374px){
          margin-left: 8px;
        }
      }

      svg {
        width: 24px;
        height: 24px;
        vertical-align: middle;
      }

      &.is-facebook {
        background: #1778F2;
        border: initial;
      }
      &.is-pinterest {
        background: #E60023;
        border: initial;
      }
      &.is-twitter {
        background: #1DA1F2;
        border: initial;
      }
      &.is-linkedin {
        background: #0077B5;
        border: initial;
      }
    }
  }
}