$dafault-icons-color: #ababab;
$facebook-brand-color: #3b5998;
$twitter-brand-color: #1da1f2;

$instagram-brand-color: #1da1f2;
$dribbble-brand-color: #ea4c89;
$behance-brand-color: #1769ff;
$pinterest-brand-color: #bd081c;

.footer-socials {
  path {
    fill: $dafault-icons-color;
  }
}

.facebook-hover-color {
  transition: border .6s;
  path {
    transition: fill .6s;
  }
  &:hover {
    border-color: $facebook-brand-color !important;
    path {
      fill: $facebook-brand-color !important;
    }
  }
}
.twitter-hover-color {
  transition: border .6s;
  path {
    transition: fill .6s;
  }
  &:hover {
    border-color: $twitter-brand-color !important;
    path {
      fill: $twitter-brand-color !important;
    }
  }
}
.instagram-hover-color {
  transition: border .6s;
  position: relative;
  overflow: hidden;
  path {
    transition: fill .6s;
  }
  svg {
    z-index: 1;
    position: relative;
  }
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    //border: 1px solid red;
    //border-radius: 100%;
    background: #000;
  }
  &:hover {
    //border-color: $instagram-brand-color !important;
    border-color: transparent !important;
    background: linear-gradient(to right, #fdf497, #fdf497, #fd5949, #d6249f, #285AEB) !important;
    background-size: 123%!important;
    background-position: 10% !important;
    /* border-image: linear-gradient(to right, #fdf497, #fdf497, #fd5949, #d6249f, #285AEB) 1 !important;
    border-radius: 100% !important;
    background-origin: border-box;
    background-clip: content-box, border-box; */
    path {
      fill: url(#instagram-gradient) !important;
    }
  }
}
.dribbble-hover-color {
  transition: border .6s;
  path {
    transition: fill .6s;
  }
  &:hover {
    border-color: $dribbble-brand-color !important;
    path {
      fill: $dribbble-brand-color !important;
    }
  }
}
.behance-hover-color {
  transition: border .6s;
  path {
    transition: fill .6s;
  }
  &:hover {
    border-color: $behance-brand-color !important;
    path {
      fill: $behance-brand-color !important;
    }
  }
}
.pinterest-hover-color {
  transition: border .6s;
  path {
    transition: fill .6s;
  }
  &:hover {
    border-color: $pinterest-brand-color !important;
    path {
      fill: $pinterest-brand-color !important;
    }
  }
}