

.header_search-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: $site-background-color;
  z-index: 1111;
  display: none;
}

.header_search-popup_content {
  width: 100%;
  height: 100%;
  display: flex;
  // justify-content: center;
  align-items: center;
  flex-direction: column;
  max-height: 100vh;
  overflow-y: scroll;
  form.material-form {
    margin: 100px auto 0;
  }
  .row {
    width: 100%;
  }
}

.header_search-close_button {
  position: fixed;
  right: 32px;
  top: 32px;
  z-index: 111
}

.header_search-result {
  width: 100%;
  max-width: 320px;
  margin: auto;
}