// body.home.blog,
// body.archive,
// body.attachment,
// body.page-template-default,
// body:not(.elementor-page),
#right-sidebar,
#left-sidebar
{
  &.widget-area {

    a {
      //color: $site-primary-color;
      text-decoration: none;
    }

    aside.widget {
      border: 1px solid $line-color;
      border-radius: $main-image-border-radius;
      padding: 32px;
      margin: 0 auto 32px;
    }
    .widget-title {
      font-size: 18px;
      margin: 0 auto 32px;
    }


    .widget_archive,
    .widget_categories,
    .widget_recent_comments,
    .widget_recent_entries,
    .widget_pages,
    .widget_nav_menu,
    .widget_meta
    {
      ul {
        @extend %wp-links-list;
      }
    }

    .widget_archive,
    .widget_categories
    {
      ul {
        li {
          color: $site-secondary-color;
          a {
            //color: $site-primary-color;
          }
        }
      }
      select {
        @extend %select-rounded;
      }
    }

    .widget_recent_entries {
      .post-date {
        color: $site-secondary-color;
      }
    }

    .widget_calendar {
      .wp-calendar-table {
        color: $site-secondary-color;
        width: 100%;
      }
      thead, tbody {
        font-weight: normal;
        text-align: center;
        th, td {
          font-weight: 500;
          padding: 4px;
        }
      }
      caption {
        padding: 8px 0;
      }
    }

    .widget_text {
      .textwidget {
        p:last-child {
          margin: 0;
        }
      }
    }


    .widget_media_image {
      img {
        border-radius: 16px;
      }
    }


    .widget_media_gallery {
      .gallery-item {
        margin: 0 0 8px;
        padding: 0 4px;
      }
      img {
        border-radius: 4%;
      }
    }

    .widget_media_audio {
      .wp-audio-shortcode {
        border-radius: 16px;
        overflow: hidden;
      }
    }

    .widget_media_video {
      .wp-video {
        border-radius: 8px;
        overflow: hidden;
      }
    }

  }
}