.site-header {
  transition: none !important;
  .navbar,
  .navbar-collapse {
    transition: none !important;
  }

  .navbar {
    min-height: 80px;
  }

  a {
    transition: opacity 400ms, color 400ms;
    &:hover,
    &:focus {
      outline: none !important;
      opacity: .5;
    }
  }






  // Header Menu Arrow
  .navbar-collapse .navbar-nav > .menu-item-has-children {
    .dropdown-toggle::after {
      display: inline-block;
      margin-left: 1em;
      vertical-align: middle;
      @media (max-width: $header_breakpoint){
        position: absolute;
        top: 50%;
        transform: translateY(-50%); 
      } 
    }
  }

  // For 2-nd level menu
  @media (max-width: $header_breakpoint){
    .navbar-collapse .navbar-nav ul {
      background: none;
      border: none;
    }
  }
  

  @media (min-width: $header_breakpoint + 1){
    .dropdown-menu {
      top: 60px;
      border-radius: 12px;
      padding: 12px 0;
      border: none !important;
      box-shadow: 0 3px 6px 0 #00000029;
    }
    .dropdown-item {
      padding: 12px 24px;
    }
  }





  // Header Navigation Menu Popup ----------------
  .navbar-toggler-icon-svg {
    fill: #fff;
  }
  .navbar-toggler,
  .navbar-dark .navbar-toggler {
    border: none;
    transition: opacity 400ms;

    &:hover,
    &:focus {
      outline: none !important;
      opacity: .5;
    }
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 0 24 24' width='24'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z'/%3E%3C/svg%3E");
    &.is-close-icon {
      background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' height='14' viewBox='0 0 24 24' width='14'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/%3E%3C/svg%3E");
      background-size: 24px;
    }
  }
  .navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 0 24 24' width='24'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath fill='white' d='M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z'/%3E%3C/svg%3E");
    &.is-close-icon {
      background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' height='14' viewBox='0 0 24 24' width='14'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath fill='white' d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/%3E%3C/svg%3E");
    }
  }

  .navbar-collapse {
    &.collapsing {
      transition: none;
      display: none;
    }
    &.show {
      position: fixed;
      width: 100vw;
      max-height: calc(100% - 80px);
      min-height: calc(100% - 80px);
      left: 0;
      top: 80px;
      background: $site-primary-color;
      z-index: 1111;
      padding: 48px 56px;
      overflow-y: scroll;
      ul {
        height: 100%;
        justify-content: center;
      }
      .menu-item {
        padding: 0;
        margin: 0;
        text-align: center;
      }
      .nav-link {
        font-size: 24px;
      }
      a {
        padding: 0;
        color: #fff !important;
      }
      .menu-item + .menu-item {
        margin-top: 24px;
      }
      .dropdown-menu {
        padding: 0;
        margin-top: 24px;
      }

      @media (min-width: 576px){
        padding: 48px 0;
        .navbar-nav {
          max-width: 540px;
          margin: auto;
        }
        .menu-item {
          text-align: left;
        }
      }
    }
  }


  //.navbar-dark .navbar-nav .nav-link
  .collapse:not(.show) .menu-item {
    &.button {
      margin: auto 24px;
      background: white;
      border-radius: 24px;
      transition: opacity 600ms;
      .nav-link {
        color: $site-primary-color;
      }
      &:hover {
        opacity: 0.6;
      }
    }

    &:first-child {
      margin-left: 0 !important;
    }
    &:last-child {
      margin-right: 0 !important;
    }
  }


  @media (min-width: 768px) {
    .navbar-expand-md .navbar-nav .nav-link {
      padding-right: 24px;
      padding-left: 24px;
    }
  }
}


.header_search-button {
  margin: auto 0 auto auto;
}

@media (max-width: 767px) {
  .site-header .navbar-collapse .navbar-nav>.menu-item-has-children.show .dropdown-toggle::after {
    display: none;
  }
}




// Fix for wp admin bar

// mobile height 46px (max-width: 782px)


body.admin-bar {
  padding-top: 32px;
  @media screen and (max-width: 782px){
    padding-top: 46px;
  }
  .site-header { 
    .navbar-collapse {
      &.show {
        top: 125px;
        max-height: calc(100% - 125px);
      }
    }   
  }
}



.site-header {
  a {
    &:hover,
    &:focus,
    &:active
    {
      background-color: inherit;
      color: inherit;
    }
  }

  .navbar-dark .navbar-nav .button .nav-link {
    &:hover,
    &:focus,
    &:active {
      background: none !important;
    }
  }
}
