.site-footer {

  #wrapper-footer-full {
    padding: 64px 0;

    a {
      //color: $site-primary-color;
      text-decoration: none;
    }

    aside.widget {
      margin: 0 auto 32px;
    }
    .widget-title {
      font-size: 18px;
      margin: 0 auto 32px;
    }


    .widget_archive,
    .widget_categories,
    .widget_recent_comments,
    .widget_recent_entries,
    .widget_pages,
    .widget_nav_menu,
    .widget_meta
    {
      ul {
        @extend %wp-links-list;
      }
    }

    .widget_archive,
    .widget_categories
    {
      ul {
        li {
          color: $site-secondary-color;
          a {
            color: $site-primary-color;
          }
        }
      }
      select {
        @extend %select-rounded;
      }
    }

    .widget_recent_entries {
      .post-date {
        color: $site-secondary-color;
      }
    }

    .widget_calendar {
      .wp-calendar-table {
        color: $site-secondary-color;
        width: 100%;
      }
      thead, tbody {
        font-weight: normal;
        text-align: center;
        th, td {
          font-weight: 500;
          padding: 4px;
        }
      }
      caption {
        padding: 8px 0;
      }
    }

    .widget_text {
      .textwidget {
        p:last-child {
          margin: 0;
        }
      }
    }
  }


  .site-info {
    color: $site-secondary-color;
    a {
      color: $site-secondary-color;
      &:hover {
        color: $site-primary-color;
      }
    }
  }



  .elysio-postfooter {
    padding: 18px 0 48px; /* TODO if widgets shown */

    .footer-logo {
      display: block;
      img {
        height: 40px;
        width: auto;
      }
    }

    .footer-socials {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        padding: 0;
        margin: 0;
        font-size: 0;
        background: transparent;
        border: 1px solid $line-color;
        border-radius: 100%;
        //transition: filter 400ms;
        height: 42px;
        width: 42px;
        min-width: 42px;
        text-align: center;
        line-height: 42px;
        a {
          display: block;
        }
        /* &:hover {
          filter: brightness(0.9);
        } */
        & + li {
          margin-left: 12px;
        }
      }

      @media (max-width: 767px){
        justify-content: flex-start !important;
        margin: 32px auto;
      }
    }
  }

}

