
.elysio-showcase-toggle {

  .tab-pane {
    img {
      width: 100%;
      height: auto;
    }
    @media (max-width: 767px){
      text-align: center;
      margin-bottom: 1rem;
      img {
        max-width: 200px;
        margin: auto;
      }
    }
  }
  .ests-item {
    transition: color 400ms;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    color: #888;
    &.active,
    &:hover
    {
      color: $site-primary-color;
    }
  }
}




