.elysio-app-showcase__01 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .decoration-background-wrap {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 48px;
  }
  .decoration-background {
    width: 100%;
    height: 100%;
  }
  .decoration-background--dotes {
    background: radial-gradient(#989898 4%, transparent 4%), transparent;
    background-position: 0 0, 40px 40px;
    background-size: 40px 40px;
  }

  .decoration-element-wrap {
    max-width: 460px;
    width: 100%;
    margin: auto;
    position: absolute;
  }
  .big-gradient-circle {
    width: 100%;
    height: 0;
    padding: 0 0 100% 0;
    background: linear-gradient(215deg, rgba(100,181,246,1) 0%, rgba(41,121,255,1) 100%);
    border-radius: 100%;
    z-index: -1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
  }

  .screenshoot-image {
    margin: auto;
    display: block;
  }


  &.decoration-element-color-scheme-blue {
    .big-gradient-circle {
      background: linear-gradient(215deg, rgba(100,181,246,1) 0%, rgba(41,121,255,1) 100%);
    }
  }
  &.decoration-element-color-scheme-purple {
    .big-gradient-circle {
      background-image: linear-gradient(180deg, #D1C4E9 0%, #7E57C2 100%);
    }
  }
  &.decoration-element-color-scheme-green {
    .big-gradient-circle {
      background-image: linear-gradient(180deg, #A5D6A7 0%, #4CAF50 100%);
    }
  }
}