.elysio-hover-style--grayscale,
.elysio-hover-style--opacity,
.elysio-hover-style--darkness,
.elysio-hover-style--ligthness,
.elysio-hover-style--color-from-grayscale
{
  img {
    transition: filter 600ms;
  }
}

.elysio-hover-style--grayscale img:hover {
  filter: grayscale(1);
}

.elysio-hover-style--opacity img:hover {
  filter: opacity(0.4);
}

.elysio-hover-style--darkness img:hover {
  filter: brightness(0.2);
}

.elysio-hover-style--ligthness img:hover {
  filter: brightness(10);
}

.elysio-hover-style--color-from-grayscale {
  img {
    filter: grayscale(1);
  }
  img:hover {
    filter: grayscale(0);
  }
}