.elysio-pricing-table {
	.row {
		margin: 0 -24px;
	}
	.elysio-pricing-column {
		padding: 0 24px;
	}
}

.elysio-pricing-column {
	@media (max-width: 991px){
		margin-bottom: 24px;
	}
	@media (max-width: 767px){
		& + .elysio-pricing-column {
			margin-top: 24px;
		}
	}
	&.elysio-highlight {
		.elysio-pricing-header {
			background: $site-primary-color;
			color: white;
		}
		.elysio-pricing-content {
			padding-top: 24px;
			&:before {
				display: none;
			}
		}
	}
}
.elysio-pricing-wrap {
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  border-radius: 12px;
  height: 100%;
}
.elysio-pricing-content {
	padding: 0 48px 48px 48px;
	&:before {
		content: '';
		width: 100%;
		border-top: 1px solid $line-color;
		display: block;
		margin-bottom: 24px;
	}
}
.elysio-pricing-header {
	padding: 32px 48px 24px;	
	border-radius: 12px 12px 0 0;
}

.elysio-pricing-title {
	font-size: 32px;
	font-weight: 500;
}

.elysio-pricing-cost {
	font-size: 32px;
	font-weight: 500;
	margin-bottom: 24px;
	span {
		font-size: 16px;
	}
}

.elysio-pricing-features {
	color: $site-secondary-color;
	ul {
		padding: 0;
		margin: 0 auto 32px;
		list-style: none;
		li + li {
			margin-top: 24px;
		}
		i {
			margin-right: 8px;
		}
	}
}