body.error404 {
	section.error-404 {
		min-height: 60vh;
	}
	.page-header {
		.page-title {
			margin: 0 auto 16px;
		}
		p {
			margin: 0 auto 32px;
		}
		.searchform {
			max-width: 420px;
			margin: 0 auto 32px;
		}
	}
}