body.home.blog,
body.blog,
body.archive
{

  article {
    margin: 0 auto 64px;
    padding: 0 0 32px;
    border-bottom: 1px solid $line-color;
    &.is-nothumb {
      .entry-title {
        margin-top: 0;
      }
    }
  }


  .entry-thumb {
    @extend %wp-thumbnail;
    margin-top: 0;
  }

  .entry-title {
    font-size: 24px;
    margin: 32px auto;
    word-wrap: break-word;
    a {
      color: $site-text-color;
      &:hover{
        text-decoration: none;
      }
      &:focus {
        text-decoration: underline;
      }
    }
    @media (min-width: 768px){
      font-size: 32px;
    }
  }

  .entry-meta,
  .entry-content,
  .entry-footer
  {
    color: $site-secondary-color;
    a {
      color: $site-secondary-color;
      transition: color 400ms;
      &:hover {
        color: $site-text-color;
      }
      &:focus {
        color: $site-text-color;
        text-decoration: underline;
      }
    }
  }
  .entry-meta,
  .entry-content
  {
    margin-bottom: 0.5em;
  }

  .entry-content {
    p {
      margin: 0;
    }
  }

  .read-more {
    margin-top: 32px;
  }








}