
/* Comments */
.comments-area {
  //padding: 3rem 0;
  margin: 64px auto;
}
.comment-content a {
  word-wrap: break-word;
}
.bypostauthor {
  display: block;
}
.comment-list {
  margin: 0;
  list-style: none;
  padding: 0;
  ol {
    list-style: none;
    padding-left: 32px;
  }
  .comment {
    margin: 1rem 0 2rem;
  }
  .edit-link {
    margin-left: 4px;
  }
  
  .comment-meta {
    padding-left: 40px;
    position: relative;
    
    .comment-author {
      img {
        position: absolute;
        top: 6px;
        
        left: 0;
        border-radius: 100%;
      }
    }
    .comment-metadata {
      font-size: 0.8em;
    }
  }
}

.comments-title,
.comment-reply-title
{
  padding-top: 32px;
  border-top: 1px solid $line-color;
  @extend %singlepost-pseudotitle;
}

.comment-navigation {
  margin: 16px 0;
}


@media (max-width: 767px){
  .comment-list ol {
    padding-left: 16px;
  }
}

