
.pagination {
  margin: 64px auto;

  *:focus {
    box-shadow: none;
    text-decoration: underline;
  }

  .page-link {
    padding: 0;
    height: 48px;
    width: 48px;
    text-align: center;
    line-height: 48px;
    border-color: transparent;
    background: transparent;
    color: $site-secondary-color;
    transition: color 400ms;
    border-radius: 8px !important;
    svg {
      fill: $site-secondary-color;
      transition: fill 400ms;
      vertical-align: middle;
    }

    &:hover {
      color: $site-text-color;
      svg {
        fill: $site-text-color;
      }
    }
    &:focus {
      color: $site-text-color;
      border-color: $site-secondary-color;
    }
  }
  .page-item.active .page-link {
    border-radius: 8px !important;
    background: transparent;
    color: $site-secondary-color;
    border: 1px solid $line-color;
  }

  @media (max-width: 767px){
    margin: 64px 32px;
    overflow-x: scroll;
  }
}