body.search.search-results {
	
  .content-area {
    padding-bottom: 180px;
  }
  .page-header {
    min-height: 536px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .searchform {
    max-width: 420px;
    width: 100%;
    margin: 32px auto;
  }


  .pagination {
  	justify-content: center;
  }

}

body.search.search-no-results {
  .content-area {
    padding-bottom: 180px;
    text-align: center;
    min-height: 70vh;
  }
  .searchform {
    max-width: 420px;
    width: 100%;
    margin: 32px auto;
  }


}