body.post-template-default.single-post {
  .wrapper {
    //padding: 64px 0 128px;
  }
  .col-md.content-area#primary {
    max-width: 800px;
    margin: auto;
  }


  .single-article {
    .entry-title {
      padding-bottom: 32px;
      border-bottom: 1px solid $line-color;
      @extend %wp-headline;
    }

    .entry-thumb {
      @extend %wp-thumbnail;
    }

    .entry-meta {
      color: $site-secondary-color;
      a {
        color: $site-secondary-color;
      }
    }

    .entry-content {
      margin-bottom: 64px;
      img {

      }
    }



    .entry-footer {
      margin: 32px auto 128px;
      padding: 64px 0;
      border-top: 1px solid $line-color;
      border-bottom: 1px solid $line-color;
      &:empty {
        display: none;
      }
    }

    .cat-links {
      @extend %singlepost-pseudotitle;
      margin-bottom: 0;
    }

    .tags-title {
      @extend %singlepost-pseudotitle;
      margin-top: 32px;
    }
    .tags-links {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      a {
        display: block;
        background: #ECECEC;
        border: 1px solid $line-color;
        border-radius: 24px;
        padding: 10px 24px;
        color: $site-text-color;
        margin: 0 16px 16px 0;
        &:last-child {
          margin: 0 0 16px 0;
        }
      }
    }

  }


  .post-navigation {
    margin: 64px auto 128px;
  }



  .related-articles {
    margin: 64px auto 128px;

    .related-articles__title {
      font-weight: 600;
      font-size: 18px;
      margin-bottom: 32px;
      color: $site-text-color;
    }
    
  }

}